<!DOCTYPE html>
{% extends "base.html" %}
{% block navbar %}
<li><a href="basic">基本信息</a></li>
<li class="active"><a>用户活跃趋势</a></li>
<li><a href="category">分区热度</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div style="text-align: center; color: #00a0d8; font-weight: bold; font-size: 2.25rem; margin-top: 20px">前一周Bilibili每日活跃用户人数</div>
    <div id="graph1" style="width: 800px;height:500px;margin: 0 auto;"></div>
    <div style="text-align: center; color: #00a0d8; font-weight: bold; font-size: 2.25rem; margin-top: 40px">近一年Bilibili每月活跃用户人数</div>
    <div id="graph2" style="width: 800px;height:500px;margin: 0 auto;"></div>
</div>

{% endblock %}

{% block script %}
<script language =javascript>
    var myChart = echarts.init(document.getElementById('graph1'));

    var option = {
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [37615423, 40569821, 29185564, 39041234, 50091303, 51020849, 47056989],
            type: 'line',
            areaStyle: {}
        }]
    };
    myChart.setOption(option);

    var myChart2 = echarts.init(document.getElementById('graph2'));

    var option2 = {
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [132845926, 120429519, 141905679, 132047892, 110164315, 120567915, 129000214, 133043065, 132005269, 129005169, 133014752, 132030153, 93202346],
            type: 'line',
            areaStyle: {}
        }]
    };
    myChart2.setOption(option2);
</script>
{% endblock %}
