<!DOCTYPE html>
{% extends "base.html" %}
{% block navbar %}
<li><a href="basic">基本信息</a></li>
<li><a  href="fansfluct">涨粉掉粉榜单</a></li>
<li class="active"><a>用户活跃趋势</a></li>
<li><a href="category">分区热度</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div style="text-align: center; color: #00a0d8; font-weight: bold; font-size: 2.25rem; margin-top: 20px">近30天Bilibili每日活跃用户人数</div>
    <div id="graph1" style="width: 800px;height:500px;margin: 0 auto;"></div>
    <div style="text-align: center; color: #00a0d8; font-weight: bold; font-size: 2.25rem; margin-top: 40px">近一年Bilibili每月活跃用户人数</div>
    <div id="graph2" style="width: 800px;height:500px;margin: 0 auto;"></div>
</div>

{% endblock %}

{% block script %}
<script language =javascript>
    var myChart = echarts.init(document.getElementById('graph1'));

    var option = {
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line',
            areaStyle: {}
        }]
    };
    myChart.setOption(option);

    var myChart2 = echarts.init(document.getElementById('graph2'));

    var option2 = {
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line',
            areaStyle: {}
        }]
    };
    myChart2.setOption(option2);
</script>
{% endblock %}
