<!DOCTYPE html>
{% extends "base.html" %}
{% block navbar %}
<li class="active"><a>基本信息</a></li>
<li><a href="activedata">用户活跃趋势</a></li>
<li><a href="category">分区热度</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="height: 130px; margin-top: 30px; padding-top: 30px; background-color: #ededfa">
        <div class="col-xs-4">
            <div class="text_box" style="text-align: center; right: 0%; position: absolute; width: 200px">
                <div style="">{{top1_up}}</div>
                <div style="color: #1e88e5; font-weight: bold; font-size: 2.75rem;">{{top1_funs}}</div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="vs_box" style="display: flex; align-items: center; margin: 0 auto; width: 210px">
                <div class="avatar">
                    <img src="{{top1_face}}">
                </div>
                <div class="text_block">
                    <div style="color: gray; font-weight: bold; font-size: 1.5rem; text-align: center;">榜首粉丝争夺</div>
                    <div style="color: red; font-weight: bold; font-size: 3.5rem; text-align: center;">vs</div>
                </div>
                <div class="avatar">
                <img src="{{top2_face}}">
            </div>
            </div>

        </div>
        <div class="col-xs-4" style="text-align: center;">
            <div class="text_box" style="text-align: center; left: 0%; position: absolute; width: 200px">
                <div style="">{{top2_up}}</div>
                <div style="color: #1e88e5; font-weight: bold; font-size: 2.75rem;">{{top2_funs}}</div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 20px 0">
        <div class="col-xs-4" style="background-color: #dedef8;">
            <div class="card__title">
                  <br>
                  <h4 style="text-align: center;">粉丝数最多的UP主TOP10</h4>
                  <br>
                  <div class="card_divider" style="height: 2px; left: 0px; width: 100%; background-color: #1e88e5">
                  </div>
            </div>
            <div class="card__text">
              <span>
                  <a href="https://space.bilibili.com/{{top10[0][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                      <div class="avatar">
                          <img src="{{top10[0][2]}}">
                      </div>
                      <div class="col">
                          <div>
                              <div>{{top10[0][0]}}</div>
                              <div>
                                  <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                  </i>
                                  <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[0][3]}}
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="col-right" style="align-self: center;">
                          <span class="chip_green">
                              <span class="chip_content">
                                {{top10[0][1]}}
                              </span>
                          </span>
                      </div>
                  </a>
                  <a href="https://space.bilibili.com/{{top10[1][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="avatar" style="height: 60px; min-width: 60px; width: 60px;">
                        <img src="{{top10[1][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{top10[1][0]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[1][3]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{top10[1][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://space.bilibili.com/{{top10[2][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="avatar">
                        <img src="{{top10[2][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{top10[2][0]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[2][3]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{top10[2][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://space.bilibili.com/{{top10[3][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="avatar">
                        <img src="{{top10[3][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{top10[3][0]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[3][3]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{top10[3][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://space.bilibili.com/{{top10[4][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="avatar">
                        <img src="{{top10[4][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{top10[4][0]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[4][3]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{top10[4][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://space.bilibili.com/{{top10[5][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="avatar">
                        <img src="{{top10[5][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{top10[5][0]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                     {{top10[5][3]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{top10[5][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://space.bilibili.com/{{top10[6][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="avatar">
                        <img src="{{top10[6][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{top10[6][0]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[6][3]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{top10[6][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://space.bilibili.com/{{top10[7][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="avatar">
                        <img src="{{top10[7][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{top10[7][0]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[7][3]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{top10[7][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://space.bilibili.com/{{top10[8][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="avatar">
                        <img src="{{top10[8][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{top10[8][0]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[8][3]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{top10[8][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                  <a href="https://space.bilibili.com/{{top10[9][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                      <div class="avatar">
                          <img src="{{top10[9][2]}}">
                      </div>
                      <div class="col">
                          <div>
                              <div>{{top10[9][0]}}</div>
                              <div>
                                  <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                  </i>
                                  <span class="caption grey--text" style="vertical-align: middle;">
                                    {{top10[9][3]}}
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="col-right" style="align-self: center;">
                          <span class="chip_green">
                              <span class="chip_content">
                                {{top10[9][1]}}
                              </span>
                          </span>
                      </div>
                  </a>
              </span>
          </div>
        </div>
    <div class="col-xs-4">
          <div class="card__title">
              <br>
              <h4 style="text-align: center;">视频日榜TOP10</h4>
              <br>
              <div class="card_divider" style="height: 2px; left: 0px; width: 100%; background-color: #1e88e5">
              </div>
          </div>
          <div class="card__text">
            <span>
                <a href="https://www.bilibili.com/video/{{dayrank[0][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="video_avatar">
                        <img src="{{dayrank[0][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{dayrank[0][3]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{dayrank[0][0]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{dayrank[0][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://www.bilibili.com/video/{{dayrank[1][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{dayrank[1][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{dayrank[1][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{dayrank[1][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{dayrank[1][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{dayrank[2][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar" >
                      <img src="{{dayrank[2][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{dayrank[2][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{dayrank[2][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{dayrank[2][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{dayrank[3][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{dayrank[3][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{dayrank[3][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{dayrank[3][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{dayrank[3][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{dayrank[4][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{dayrank[4][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{dayrank[4][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{dayrank[4][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{dayrank[4][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{dayrank[5][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{dayrank[5][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{dayrank[5][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{dayrank[5][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{dayrank[5][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{dayrank[6][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{dayrank[6][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{dayrank[6][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{dayrank[6][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{dayrank[6][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{dayrank[7][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{dayrank[7][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{dayrank[7][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{dayrank[7][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{dayrank[7][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{dayrank[8][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{dayrank[8][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{dayrank[8][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{dayrank[8][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{dayrank[8][1]}}
                          </span>
                      </span>
                  </div>
              </a>
                <a href="https://www.bilibili.com/video/{{dayrank[9][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="video_avatar">
                        <img src="{{dayrank[9][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{dayrank[9][3]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{dayrank[9][0]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{dayrank[9][1]}}
                            </span>
                        </span>
                    </div>
                </a>
            </span>
        </div>
    </div>
    <div class="col-xs-4" style="background-color: #dedef8;">
        <div class="card__title">
              <br>
              <h4 style="text-align: center;">视频月榜TOP10</h4>
              <br>
              <div class="card_divider" style="height: 2px; left: 0px; width: 100%; background-color: #1e88e5">
              </div>
        </div>
        <div class="card__text">
            <span>
                <a href="https://www.bilibili.com/video/{{monthrank[0][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="video_avatar">
                        <img src="{{monthrank[0][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{monthrank[0][3]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{monthrank[0][0]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{monthrank[0][1]}}
                            </span>
                        </span>
                    </div>
                </a>
                <a href="https://www.bilibili.com/video/{{monthrank[1][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{monthrank[1][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{monthrank[1][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{monthrank[1][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{monthrank[1][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{monthrank[2][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{monthrank[2][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{monthrank[2][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{monthrank[2][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{monthrank[2][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{monthrank[3][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{monthrank[3][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{monthrank[3][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{monthrank[3][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{monthrank[3][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{monthrank[4][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{monthrank[4][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{monthrank[4][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{monthrank[4][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{monthrank[4][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{monthrank[5][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{monthrank[5][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{monthrank[5][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{monthrank[5][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{monthrank[5][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{monthrank[6][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{monthrank[6][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{monthrank[6][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{monthrank[6][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{monthrank[6][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{monthrank[7][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{monthrank[7][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{monthrank[7][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{monthrank[7][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{monthrank[7][1]}}
                          </span>
                      </span>
                  </div>
              </a>
              <a href="https://www.bilibili.com/video/{{monthrank[8][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                  <div class="video_avatar">
                      <img src="{{monthrank[8][2]}}">
                  </div>
                  <div class="col">
                      <div>
                          <div>{{monthrank[8][3]}}</div>
                          <div>
                              <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                              </i>
                              <span class="caption grey--text" style="vertical-align: middle;">
                                {{monthrank[8][0]}}
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-right" style="align-self: center;">
                      <span class="chip_green">
                          <span class="chip_content">
                            {{monthrank[8][1]}}
                          </span>
                      </span>
                  </div>
              </a>
                <a href="https://www.bilibili.com/video/{{monthrank[9][4]}}" class="card_label" style="display: flex; text-decoration: none; color: rgba(0, 0, 0, 0.87); transform-origin: center top 0px;">
                    <div class="video_avatar">
                        <img src="{{monthrank[9][2]}}">
                    </div>
                    <div class="col">
                        <div>
                            <div>{{monthrank[9][3]}}</div>
                            <div>
                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-flash-circle theme--light" style="font-size: 12px; color: rgb(251, 192, 45); caret-color: rgb(251, 192, 45);">
                                </i>
                                <span class="caption grey--text" style="vertical-align: middle;">
                                    {{monthrank[9][0]}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-right" style="align-self: center;">
                        <span class="chip_green">
                            <span class="chip_content">
                                {{monthrank[9][1]}}
                            </span>
                        </span>
                    </div>
                </a>
            </span>
        </div>
    </div>
   </div>
</div>

{% endblock %}
