<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <style>
        body{
            margin: 0px;
        }
    </style>
</head>
<body>
<div class="top-banner">
    <img src="static/image/login-top.png">
</div>
<div class="title-line">
    <span class="tit">注册</span>
</div>
<div class="login-box">
    <div class="input-box">
        <form method="post">
            <div class="item username status-box">
                {{ form.username }}
            </div>
            <div class="item username status-box">
                {{ form.phone }}
            </div>
            <div class="item username status-box">
                {{ form.email }}
            </div>
            <div class="item password status-box">
                {{ form.password }}
            </div>
            <div><p class="login-tip">请保护好自己的个人信息</p></div>
            <div class="btn-box" style="text_align: center left: 50%">
                {{ form.submit }}
            </div>
        </form>
    </div>
</div>
<div class="inset-img-box">
    <img src="static/image/33.png" style="float: left; height: 100%">
    <img src="static/image/22.png" style="float:right; height: 100%">
</div>
</body>
</html>
